<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
</head>
<body>
	<h1 align="center">*** 직원 관리 프로그램 ***</h1>
	<div style="text-align: center">
		<button onclick="location.href='/employee/list'">전체 직원 조회</button>
		<button onclick="location.href='/employee/listpaging'">전체 직원 조회(페이징)</button>
		<button onclick="location.href='/employee/regist'">신입 사원 등록</button>
		<button onclick="location.href='/employee/modify'">사원 정보 수정</button>
		<button onclick="location.href='/employee/delete'">퇴사 사원 삭제</button>
	</div>
	
	
</body>
</html>