<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list</title>

<script>

	const successMessage = '[[${message}]]';
	if(successMessage) alert(successMessage);

</script>

</head>
<body>
	<h2 align="center">직원 리스트</h2>
	<div style="text-align: center;">
	<button onclick="location.href='/main'">메인으로</button><br><br>
	</div>
	
		<table border="1" style="margin-right:auto; margin-left:auto">
		<tr>
			<th>사원 번호</th>
			<th>사원 이름</th>
			<th>주민번호</th>
			<th>부서명</th>	
			<th>직급</th>	
			<th>급여등급</th>	
			<th>입사일</th>	
			<th>퇴사여부</th>		
		</tr>
		<tr th:each="emp : ${ empList }">
			<td th:text="${emp.empId}"></td>
			<td th:text="${emp.empName}"></td>
			<td th:text="${emp.empNo}"></td>
			<td th:text="${emp.dept?.deptTitle}"></td>
			<td th:text="${emp.job.jobName}"></td>
			<td th:text="${emp.salLevel.salLevel}"></td>
			<td th:text="${emp.hireDate}"></td>
			<td th:text="${emp.entYn}"></td>


		</tr>
		</table>
		<br>
		<div id="paging" style="text-align: center;" >
		
		<!-- 맨 앞으로 이동 -->
		<button th:onclick="'location.href=\'/employee/listpaging?page=' + @{${paging.startPage}} + '\''"> << </button>
		
		<!-- 이전 페이지로 이동 -->
		<button th:onclick="'location.href=\'/employee/listpaging?page=' + @{${paging.currentPage - 1}} + '\''"
				th:disabled="${ empList.first }"> < </button>
		
		<!-- 숫자 버튼 -->
		<th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:onclick="'location.href=\'/employee/listpaging?page=' + @{${page}} + '\''"
					th:text="${ page }"
					th:disabled="${ paging.currentPage eq page }">
			</button>
		</th:block>
		
		<!-- 다음 페이지로 이동 -->
		<button th:onclick="'location.href=\'/employee/listpaging?page=' + @{${paging.currentPage + 1}} + '\''"
				th:disabled="${ empList.last }">></button>
		
		<!-- 맨 끝으로 이동 -->
		<button th:onclick="'location.href=\'/employee/listpaging?page=' + @{${paging.endPage}} + '\''">>></button>
	</div>

</body>
</html>